body{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

.icon{
    text-shadow: 1px 2px white;
    font-size: 40px;
    border: 2px solid black;
    width: 400px;
    height: 400px;
    display: flex;
    flex-wrap: wrap;
}

.icon div{
    width: 12.5%;
    height: 12.5%;
}

.a{
    background-color: blue;
}

.b{
    background-color: white;
}